@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  .fa:before{
    content: "\f002";
    font-family: FontAwesome;
  }
  .icon_video:before{
    content: "\f03d";
    font-family: FontAwesome;
    font-style: normal;
  }
  .icon_three:before{
    content: "\f00a";
    font-family: FontAwesome;
    font-style: normal;
  }

  .icon_bell:before{
    content: "\f0f3";
    font-family: FontAwesome;
    font-style: normal;
  }

body{
  font-family: "Poppins", sans-serif;
  padding: 16px 16px 0;
  margin: 56px 0 0 0;
  font-size: 16px;
  color: #58555e;
  background: #121212;
}

h3{
  margin: 0;
}

a{
  text-decoration: none;
}
img{
  min-width: 100%;
  height: auto;
}

span, i{
  transition: 0.5s;

}

/* Header */

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #232323;
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
}

.header .header_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

header .search{
  display: flex;
  padding: 7px 12px;
  background-color: #121212;
  border-radius: 4px;
}

header input{
  width: 100%;
  border: none;
  outline: none;
  background-color: #121212;
  color: #58555e;
}

header input::placeholder{
  color: #58555e;
}

header .user{
  display: flex;
  align-items: center;
}

.icon_smile::before{
  content: "\f039";
  font-family: FontAwesome;
  font-style: normal;
}

header .user img{
  width: 35px;
  height: 35px;
  object-fit: contain;
}

header .user i{
  margin-right: 40px;
}

header i, header .toggle{
  font-size: 19px;
  color: #fff;
  cursor: pointer;
}

/* NAV */

.icon_logo::before{
  content: "\f16a";
  font-family: FontAwesome;
  font-style: normal;
}

.icon_bar::before{
  content: "\f039";
  font-family: FontAwesome;
  font-style: normal;
}

.nav{
  position: fixed;
  top: 0;
  /* left: -100%; */
  height: 100vh;
  padding: 16px 16px 0;
  background: #1c1c1c;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 100;
  transition: 0.5s;
}

.nav_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
  overflow: auto;
  scrollbar-width: none;
}

.nav_container::-webkit-scrollbar{
  display: none;
}

.nav_logo{
  font-weight: 600;
  margin: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.logo_name{
  align-items: center;
  display: flex;
}

.logo_name i{
  font-size: 25px;
  margin-right: 10px;
  color: #ff0000;
}

.icon_home::before{
  content: "\f015";
  font-family: FontAwesome;
  font-style: normal;
}

.nav_list, .nav_items{
  display: grid;
}

.nav_list{
  row-gap: 40px;
}

.nav_items{
  row-gap: 24px;
}

.nav_link{
  display: flex;
  align-items: center;
  color: #fff;
  gap: 15px;
  justify-content: flex-start;
}.nav_link:hover{
  color: #ff0000;
}

.icon_home{
  font-size: 19px;
}

.nav_name{
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}

.icon_compass::before{
  content: "\f14e";
  font-family: FontAwesome;
  font-style: normal;
}

.icon_shorts::before{
  content: "\f209";
  font-family: FontAwesome;
  font-style: normal;
}

.fa-2x{
  width: 30px;
}



.icon_channel::before{
  content: "\f080";
  font-family: FontAwesome;
  font-style: normal;
}


.icon_camera::before{
  content: "\f03d";
  font-family: FontAwesome;
  font-style: normal;
}

.icon_history::before{
  content: "\f0e2";
  font-family: FontAwesome;
  font-style: normal;
}

.icon_like::before{
  content: "\f164";
  font-family: FontAwesome;
  font-style: normal;
}

.icon_showMore::before{
  content: "\f107";
  font-family: FontAwesome;
  font-style: normal;
}

.icon_message::before{
  content: "\f075";
  font-family: FontAwesome;
  font-style: normal;
}

.subcribe {
  min-width: 0%;
  width: 25%;
 
}

.nav_subtitle{
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a5a1aa;
}

.nav_dropdown{
  min-height: 35px;
  overflow: hidden;
  max-height: 21px;
  transition: 0.5s;
}

.nav_dropdown-content{
  display: grid;
  row-gap: 8px;
  padding: 10px;
}

.nav_dropdown-collapse{
  background-color: #232323;
  border-radius: 4px;
  margin-top: 16px;
}

.nav_dropdown-item{
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.nav_dropdown-item:hover{
  color: #ff0000;
}

.nav_dropdown-icon{
  margin-left: auto;
  transition: 0,5s;
}

.nav_dropdown:hover{
  min-height: 100rem;
}

.subcribe{
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  
}